@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Content/chaselogo3.png" style="width:400px;height:225px;"></h1>
    <p class="lead">Programa especial de cuentas por cobrar para el banco Chase, donde aseguramos tu patrimonio</p>
    <hr class="my-4">
    <p>Una aplicacion segura, confiable y veloz. Creada por XimSystems</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a>
    </p>
</div>

<div class="row">
    <!--<div id="miFondo" class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>-->
    <div class="col-md-4" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Misión</h4>
            <p class="card-text">Es entregar un servicio de calidad que permita optimizar la recuperación de las cuentas por cobrar de nuestros clientes que generan crédito. </p>
            <p><a class="btn btn-outline-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver más &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Visión</h4>
            <p class="card-text">Ser reconocidos como líderes del mercado, entregando un servicio serio y de calidad. 
            Esto, a través de la búsqueda de la mejora continua de nuestros procesos </p>
            <p><a class="btn btn-outline-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver más &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Valores</h4>
            <p class="card-text">Responsabilidad, integridad, honestidad, trabajo, respeto, entrega, perseverancia, solidaridad, disciplina</p>
            <p><a class="btn btn-outline-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver más &raquo;</a></p>
        </div>
    </div>
</div>

